:root{
	--white-light: rgba(255, 255, 255, .3);
}
html, body{
}
html{
	font-size: 16px;
}
body{
	font-family: "DinPro", sans-serif;
	background-color: #000;
	color: #fff;
	height: 100vh;
	overflow: hidden;
}
a{
	color: #fff;
	transition: all .2s;
}
img{
	max-width: 100%;
}
.wrapper{

}
.container{
	width: 100%;
	max-width: 1130px;
	padding: 0 20px;
	margin: 0 auto;
}
.main{
	width: 100%;
	height: 100vh;
	overflow: hidden;
}
.footer{
}
.flex{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	&--wrap{
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	&--center{
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
	}
	&--between{
		-webkit-box-pack: justify;
		-moz-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}

}

.page{
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background:#000 url('../img/page-bg.jpg') left top no-repeat;
	background-size: cover;
}

.light{
	color: var(--white-light);
}

.btn-container{
	text-align: center;
}
.btn{
	display: inline-block;
	font-size: 3em;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	border: 2px solid #ffffff;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
	background-color: rgba(#fff, .3);
	padding: .625em 2.3em;
	white-space: nowrap;
	border-radius: 0;
	outline: none;
	appearance: none;
	cursor: pointer;
	transition: all .3s;
	&:hover{
		background-color: #000;
	}
	span{
		text-transform: lowercase;
	}
	&--full{
		width: 100%;
		padding: .625em;
	}
}



::-webkit-input-placeholder {  }
::-moz-placeholder          {  } /* Firefox 19+ */
:-moz-placeholder           {  } /* Firefox 18- */
:-ms-input-placeholder      {  }

// Для стилей автозаполнения полей
// @-webkit-keyframes autofill {
//     to {
//         color: #fff;
//         background: transparent;
//     }
// }

// input:-webkit-autofill {
//     -webkit-animation-name: autofill;
//     -webkit-animation-fill-mode: both;
// }

/* хром, сафари */
.element::-webkit-scrollbar { width: 0; }

/* ie 10+ */
.element { -ms-overflow-style: none; }

/* фф (свойство больше не работает, других способов тоже нет)*/
.element { overflow: -moz-scrollbars-none; }







