/*videos*/ 
.videos{
	.container{
		height: 80vh;
		display: flex;
		align-items: center;
	}
}
.video-slider{
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
	height: 75vh;
	.slick-list{
		padding: 0 !important;
	}
	.slick-arrow{
		display: block;
		margin: 0 auto;
		position: absolute;
		left: 50%;
		cursor: pointer;
		transition: all .3s;
		z-index: 2;
		svg{
			width: 100%;
			height: 100%;
		}
		&:hover{
			color: var(--white-light);
		}
	}
	.prev-arrow{
		transform: translateX(-50%) rotate(90deg);
		top: 0;
	}
	.next-arrow{
		transform: translateX(-50%) rotate(90deg);
		bottom: 0;
	}
}
.slick-slide.video-slider__item{
	width: 800px !important;
	transform: translateX(50px);
	height: 25vh;
	position: relative;
	transition: all .3s;
	.video-slider__content{
		position: relative;
		height: 100%;
		// transition: all .3s;
	}
	iframe{
		width: 100% !important;
		height: 100% !important;
	}
	&.slick-center{
		width: 100% !important;
		transform: translateX(0);
		z-index: 2;
		.video-slider__content{
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			transform: translateY(-25%);
			height: 50vh;
			z-index: 3;
		}
		
	}
}